rex-schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="root">
      <interleave>
        <attribute name="rev"/>
        <element name="orders">
          <ref name="order"/>
        </element>
      </interleave>
    </element>
  </start>
  <define name="order">
    <oneOrMore>
      <element name="order">
        <interleave>
          <optional>
            <attribute name="id">
              <ref name="TID"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="ctm">
              <ref name="TTimestamp"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="mtm">
              <ref name="TTimestamp"/>
            </attribute>
          </optional>
          <optional>
            <element name="title">
              <ref name="TString"/>
            </element>
          </optional>
          <element name="type">
            <ref name="TRequiredDic"/>
          </element>
          <optional>
            <element name="price">
              <interleave>
                <optional>
                  <element name="full">
                    <ref name="TPrice"/>
                  </element>
                </optional>
                <optional>
                  <element name="per_meter">
                    <ref name="TPrice"/>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="group">
              <interleave>
                <element name="type">
                  <ref name="TDic"/>
                </element>
                <optional>
                  <element name="members">
                    <zeroOrMore>
                      <ref name="order"/>
                    </zeroOrMore>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="rent">
              <interleave>
                <optional>
                  <element name="short">
                    <ref name="TBoolean"/>
                  </element>
                </optional>
                <optional>
                  <element name="term">
                    <ref name="TInteger"/>
                  </element>
                </optional>
                <optional>
                  <element name="pledge">
                    <ref name="TIntegerPos"/>
                  </element>
                </optional>
                <optional>
                  <element name="tenants">
                    <ref name="TIntegerPos"/>
                  </element>
                </optional>
                <optional>
                  <element name="neighbors">
                    <ref name="TIntegerPos"/>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="owner">
              <interleave>
                <element name="agent">
                  <interleave>
                    <optional>
                      <attribute name="dic"/>
                    </optional>
                    <optional>
                      <attribute name="id"/>
                    </optional>
                    <optional>
                      <element name="name">
                        <ref name="TString"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="phone">
                        <ref name="TDic"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="email">
                        <ref name="TDic"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="contact">
                        <ref name="TString"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="additional">
                        <interleave>
                          <zeroOrMore>
                            <element name="phone">
                              <ref name="TDic"/>
                            </element>
                          </zeroOrMore>
                          <zeroOrMore>
                            <element name="email">
                              <ref name="TDic"/>
                            </element>
                          </zeroOrMore>
                        </interleave>
                      </element>
                    </optional>
                  </interleave>
                </element>
                <optional>
                  <element name="group">
                    <ref name="TDic"/>
                  </element>
                </optional>
                <optional>
                  <element name="company">
                    <ref name="TDic"/>
                  </element>
                </optional>
                <optional>
                  <element name="url">
                    <ref name="TString"/>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="comment">
              <ref name="TComment"/>
            </element>
          </optional>
          <optional>
            <element name="mortgage">
              <interleave>
                <zeroOrMore>
                  <element name="term">
                    <ref name="TDic"/>
                  </element>
                </zeroOrMore>
                <optional>
                  <element name="bank">
                    <ref name="TDic"/>
                  </element>
                </optional>
                <optional>
                  <element name="bank_approval">
                    <ref name="TBoolean"/>
                  </element>
                </optional>
                <optional>
                  <element name="summ">
                    <ref name="TIntegerPos"/>
                  </element>
                </optional>
                <optional>
                  <element name="date">
                    <ref name="TDate"/>
                  </element>
                </optional>
                <optional>
                  <element name="borrower">
                    <ref name="TString"/>
                  </element>
                </optional>
                <optional>
                  <element name="contract">
                    <ref name="TString"/>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="safebox">
              <interleave>
                <optional>
                  <element name="bank">
                    <ref name="TDic"/>
                  </element>
                </optional>
                <optional>
                  <element name="date">
                    <ref name="TDate"/>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="estate">
              <interleave>
                <optional>
                  <attribute name="id">
                    <ref name="TID"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="ctm">
                    <ref name="TTimestamp"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="mtm">
                    <ref name="TTimestamp"/>
                  </attribute>
                </optional>
                <optional>
                  <element name="location">
                    <interleave>
                      <optional>
                        <element name="string">
                          <ref name="TString"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="zip">
                          <ref name="TString"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="country">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="region">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="area">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="city">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="district">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="street">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="house">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="flat">
                          <ref name="TString"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="gps">
                          <interleave>
                            <element name="lat">
                              <ref name="TFloat"/>
                            </element>
                            <element name="lng">
                              <ref name="TFloat"/>
                            </element>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <element name="type">
                  <ref name="TRequiredDic"/>
                </element>
                <element name="object">
                  <ref name="TRequiredDic"/>
                </element>
                <optional>
                  <element name="desc">
                    <ref name="TComment"/>
                  </element>
                </optional>
                <optional>
                  <element name="house">
                    <interleave>
                      <optional>
                        <element name="type">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="series">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="size">
                          <ref name="TString"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="build_date">
                          <ref name="TString"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="build_year">
                          <ref name="TIntegerPos"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="build_quarter">
                          <ref name="TIntegerPos"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="ready_status">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="repair_year">
                          <ref name="TIntegerPos"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="elite">
                          <interleave>
                            <optional>
                              <element name="name">
                                <ref name="TString"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="penthouse">
                                <ref name="TBoolean"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="townhouse">
                                <ref name="TBoolean"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="class">
                                <ref name="TString"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="settlement">
                                <ref name="TString"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <optional>
                  <element name="flat">
                    <interleave>
                      <optional>
                        <element name="space">
                          <interleave>
                            <optional>
                              <element name="total">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="living">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="kitchen">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="hall">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="bath">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="wc">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="desc">
                                <ref name="TString"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="height">
                          <ref name="TFloat"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="levels">
                          <ref name="TIntegerPos"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="rooms">
                          <interleave>
                            <optional>
                              <element name="actual">
                                <ref name="TIntegerPos"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="total">
                                <ref name="TIntegerPos"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="style">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="storey">
                          <interleave>
                            <optional>
                              <element name="actual">
                                <ref name="TInteger"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="total">
                                <ref name="TInteger"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="type">
                                <ref name="TDic"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="elite">
                          <interleave>
                            <optional>
                              <element name="bedrooms">
                                <ref name="TIntegerPos"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="bathrooms">
                                <ref name="TIntegerPos"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <optional>
                  <element name="plot">
                    <interleave>
                      <optional>
                        <element name="purpose">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="space">
                          <ref name="TFloat"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="buildings">
                          <interleave>
                            <optional>
                              <element name="sauna">
                                <ref name="TBoolean"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="shed">
                                <ref name="TBoolean"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="garage">
                                <ref name="TBoolean"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <optional>
                  <element name="commerce">
                    <interleave>
                      <element name="purpose">
                        <ref name="TRequiredDic"/>
                      </element>
                      <optional>
                        <element name="space">
                          <interleave>
                            <optional>
                              <element name="total">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="business">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="subrent">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="storey">
                          <interleave>
                            <optional>
                              <element name="actual">
                                <ref name="TInteger"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="total">
                                <ref name="TInteger"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="max_energy">
                          <ref name="TIntegerPos"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="phonelines">
                          <interleave>
                            <optional>
                              <attribute name="add"/>
                            </optional>
                            <text/>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <optional>
                  <element name="transport">
                    <interleave>
                      <optional>
                        <element name="car">
                          <interleave>
                            <optional>
                              <element name="distance">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="time">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <zeroOrMore>
                              <element name="highway">
                                <ref name="TString"/>
                              </element>
                            </zeroOrMore>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="railway">
                          <interleave>
                            <optional>
                              <element name="station">
                                <ref name="TDic"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="distance">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="time">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="type">
                                <ref name="TDic"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="metro">
                          <interleave>
                            <optional>
                              <element name="station">
                                <ref name="TDic"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="distance">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="time">
                                <ref name="TFloat"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="type">
                                <ref name="TDic"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <optional>
                  <element name="facilities">
                    <interleave>
                      <optional>
                        <element name="gas">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="bath">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="sewer">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="water">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="heating">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="decoration">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="balcony">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="windows">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="view">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="floor">
                          <ref name="TDic"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="electricity">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="concierge">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="guard">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="fridge">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="washmachine">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="tv">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="aircon">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="garbage_chute">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="internet">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="phone">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="parking">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="elevator">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="furniture">
                          <ref name="TBoolean"/>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="meta">
              <interleave>
                <optional>
                  <element name="source">
                    <ref name="TDic"/>
                  </element>
                </optional>
                <optional>
                  <element name="imported">
                    <ref name="TString"/>
                  </element>
                </optional>
                <optional>
                  <element name="url">
                    <ref name="TURL"/>
                  </element>
                </optional>
                <optional>
                  <element name="link">
                    <ref name="TURL"/>
                  </element>
                </optional>
                <optional>
                  <element name="extid">
                    <ref name="TID"/>
                  </element>
                </optional>
                <optional>
                  <element name="highlight">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="attachments">
                    <oneOrMore>
                      <element name="attachment">
                        <interleave>
                          <optional>
                            <element name="type">
                              <ref name="TString"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="url">
                              <ref name="TURL"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="title">
                              <ref name="TString"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="hash">
                              <interleave>
                                <optional>
                                  <element name="md5">
                                    <ref name="THash"/>
                                  </element>
                                </optional>
                                <optional>
                                  <element name="sha1">
                                    <ref name="THash"/>
                                  </element>
                                </optional>
                                <optional>
                                  <element name="sha256">
                                    <ref name="THash"/>
                                  </element>
                                </optional>
                              </interleave>
                            </element>
                          </optional>
                          <optional>
                            <element name="mime">
                              <ref name="TString"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="size">
                              <ref name="TIntegerPos"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="width">
                              <ref name="TIntegerPos"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="height">
                              <ref name="TIntegerPos"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="length">
                              <ref name="TIntegerPos"/>
                            </element>
                          </optional>
                        </interleave>
                      </element>
                    </oneOrMore>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
        </interleave>
      </element>
    </oneOrMore>
  </define>
  <define name="TDic">
    <data type="string"/>
    <optional>
      <attribute name="dic">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <data type="integer"/>
      </attribute>
    </optional>
  </define>
  <define name="TRequiredDic">
    <data type="string"/>
    <optional>
      <attribute name="dic">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="id">
      <data type="integer"/>
    </attribute>
  </define>
  <define name="TInteger">
    <data type="integer"/>
    <optional>
      <attribute name="max">
        <data type="integer"/>
      </attribute>
    </optional>
  </define>
  <define name="TIntegerPos">
    <data type="positiveInteger"/>
    <optional>
      <attribute name="max">
        <data type="positiveInteger"/>
      </attribute>
    </optional>
  </define>
  <define name="TPrice">
    <data type="positiveInteger"/>
    <optional>
      <attribute name="max">
        <data type="positiveInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="currency">
        <data type="string"/>
      </attribute>
    </optional>
  </define>
  <define name="TFloat">
    <data type="decimal"/>
    <optional>
      <attribute name="max">
        <data type="decimal"/>
      </attribute>
    </optional>
  </define>
  <define name="TBoolean">
    <choice>
      <value>true</value>
      <value>false</value>
    </choice>
  </define>
  <define name="TString">
    <data type="string"/>
  </define>
  <define name="THash">
    <data type="string"/>
  </define>
  <define name="TDate">
    <data type="string">
      <param name="pattern">[0-9]{1,2}.[0-9]{1,2}.[0-9]{2,4}</param>
    </data>
  </define>
  <define name="TTime">
    <data type="string">
      <param name="pattern">[0-9]{1,2}:[0-9]{1,2}:?[0-9]{0,2}</param>
    </data>
  </define>
  <define name="TTimestamp">
    <data type="integer"/>
  </define>
  <define name="TID">
    <data type="string"/>
  </define>
  <define name="TComment">
    <interleave>
      <element name="text">
        <text/>
      </element>
      <optional>
        <element name="html">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="short">
          <text/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="TEmail">
    <data type="string"/>
  </define>
  <define name="TURL">
    <data type="string"/>
  </define>
</grammar>
