xformat.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="root">
      <interleave>
        <attribute name="rev"/>
        <element name="orders">
          <ref name="order"/>
        </element>
      </interleave>
    </element>
  </start>
  <define name="order">
    <oneOrMore>
      <element name="order">
        <interleave>
          <optional>
            <attribute name="id">
              <ref name="idEl"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="ctm">
              <ref name="timeEl"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="mtm">
              <ref name="timeEl"/>
            </attribute>
          </optional>
          <optional>
            <element name="title">
              <ref name="stringEl"/>
            </element>
          </optional>
          <element name="type">
            <ref name="dicEl"/>
          </element>
          <optional>
            <element name="price">
              <interleave>
                <optional>
                  <element name="full">
                    <ref name="rangeEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="per_meter">
                    <ref name="rangeEl"/>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="rent">
              <interleave>
                <optional>
                  <element name="short">
                    <ref name="booleanEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="term">
                    <ref name="integerEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="pledge">
                    <ref name="integerEl"/>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="owner">
              <interleave>
                <element name="agent">
                  <interleave>
                    <optional>
                      <attribute name="dic"/>
                    </optional>
                    <optional>
                      <attribute name="id"/>
                    </optional>
                    <optional>
                      <element name="name">
                        <ref name="stringEl"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="phone">
                        <ref name="stringEl"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="email">
                        <ref name="stringEl"/>
                      </element>
                    </optional>
                  </interleave>
                </element>
                <optional>
                  <element name="group">
                    <ref name="dicEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="company">
                    <ref name="dicEl"/>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="comment">
              <ref name="commentEl"/>
            </element>
          </optional>
          <optional>
            <element name="mortgage">
              <interleave>
                <optional>
                  <element name="bank">
                    <ref name="dicEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="bank_approval">
                    <ref name="booleanEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="summ">
                    <ref name="integerEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="date">
                    <ref name="timeEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="borrower">
                    <ref name="stringEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="contract">
                    <ref name="stringEl"/>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="safebox">
              <interleave>
                <optional>
                  <element name="bank">
                    <ref name="dicEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="date">
                    <ref name="timeEl"/>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="subsidy">
              <ref name="booleanEl"/>
            </element>
          </optional>
          <optional>
            <element name="estate">
              <interleave>
                <optional>
                  <attribute name="id">
                    <ref name="idEl"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="ctm">
                    <ref name="timeEl"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="mtm">
                    <ref name="timeEl"/>
                  </attribute>
                </optional>
                <optional>
                  <element name="location">
                    <interleave>
                      <optional>
                        <element name="string">
                          <ref name="stringEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="zip">
                          <ref name="stringEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="country">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="region">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="area">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="city">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="district">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="street">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="house">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="flat">
                          <ref name="stringEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="gps">
                          <interleave>
                            <element name="lat">
                              <ref name="floatEl"/>
                            </element>
                            <element name="lng">
                              <ref name="floatEl"/>
                            </element>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <element name="type">
                  <ref name="dicEl"/>
                </element>
                <optional>
                  <element name="desc">
                    <ref name="commentEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="house">
                    <interleave>
                      <optional>
                        <element name="type">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="series">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="size">
                          <ref name="stringEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="build_date">
                          <ref name="stringEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="build_year">
                          <ref name="integerEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="build_quarter">
                          <ref name="integerEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="ready_status">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="repair_year">
                          <ref name="integerEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="elite">
                          <interleave>
                            <optional>
                              <element name="name">
                                <ref name="stringEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="penthouse">
                                <ref name="booleanEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="townhouse">
                                <ref name="booleanEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="class">
                                <ref name="stringEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="settlement">
                                <ref name="stringEl"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <optional>
                  <element name="flat">
                    <interleave>
                      <optional>
                        <element name="space">
                          <interleave>
                            <optional>
                              <element name="total">
                                <ref name="rangeEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="living">
                                <ref name="rangeEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="kitchen">
                                <ref name="rangeEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="hall">
                                <ref name="rangeEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="desc">
                                <ref name="stringEl"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="height">
                          <ref name="floatEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="levels">
                          <ref name="integerEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="rooms">
                          <interleave>
                            <optional>
                              <element name="actual">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="total">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="style">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="storey">
                          <interleave>
                            <optional>
                              <element name="actual">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="total">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="type">
                                <ref name="dicEl"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="elite">
                          <interleave>
                            <optional>
                              <element name="bedrooms">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="bathrooms">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <optional>
                  <element name="plot">
                    <interleave>
                      <optional>
                        <element name="purpose">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="space">
                          <ref name="rangeEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="buildings">
                          <interleave>
                            <optional>
                              <element name="sauna">
                                <ref name="booleanEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="shed">
                                <ref name="booleanEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="garage">
                                <ref name="booleanEl"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <optional>
                  <element name="commerce">
                    <interleave>
                      <element name="purpose">
                        <ref name="dicEl"/>
                      </element>
                      <optional>
                        <element name="space">
                          <interleave>
                            <optional>
                              <element name="total">
                                <ref name="rangeEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="business">
                                <ref name="rangeEl"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="subrent">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="storey">
                          <interleave>
                            <optional>
                              <element name="actual">
                                <ref name="rangeEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="total">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="max_energy">
                          <ref name="integerEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="phonelines">
                          <interleave>
                            <attribute name="add"/>
                            <text/>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <optional>
                  <element name="transport">
                    <interleave>
                      <optional>
                        <element name="car">
                          <interleave>
                            <optional>
                              <element name="distance">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="time">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                            <zeroOrMore>
                              <element name="highway">
                                <ref name="stringEl"/>
                              </element>
                            </zeroOrMore>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="railway">
                          <interleave>
                            <optional>
                              <element name="station">
                                <ref name="dicEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="distance">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="time">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="type">
                                <ref name="dicEl"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                      <optional>
                        <element name="metro">
                          <interleave>
                            <optional>
                              <element name="station">
                                <ref name="dicEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="distance">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="time">
                                <ref name="integerEl"/>
                              </element>
                            </optional>
                            <optional>
                              <element name="type">
                                <ref name="dicEl"/>
                              </element>
                            </optional>
                          </interleave>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
                <optional>
                  <element name="facilities">
                    <interleave>
                      <optional>
                        <element name="gas">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="bath">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="sewer">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="water">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="heating">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="decoration">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="balcony">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="windows">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="view">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="floor">
                          <ref name="dicEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="electricity">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="concierge">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="fridge">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="washmachine">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="tv">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="aircon">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="garbage_chute">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="internet">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="parking">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="elevator">
                          <ref name="booleanEl"/>
                        </element>
                      </optional>
                    </interleave>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
          <optional>
            <element name="meta">
              <interleave>
                <optional>
                  <element name="source">
                    <ref name="dicEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="imported">
                    <ref name="stringEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="url">
                    <ref name="stringEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="link">
                    <ref name="stringEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="extid">
                    <ref name="idEl"/>
                  </element>
                </optional>
                <optional>
                  <element name="attachments">
                    <oneOrMore>
                      <element name="attachment">
                        <interleave>
                          <optional>
                            <element name="type">
                              <ref name="stringEl"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="url">
                              <ref name="stringEl"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="title">
                              <ref name="stringEl"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="mime">
                              <ref name="stringEl"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="size">
                              <ref name="integerEl"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="width">
                              <ref name="integerEl"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="height">
                              <ref name="integerEl"/>
                            </element>
                          </optional>
                          <optional>
                            <element name="length">
                              <ref name="integerEl"/>
                            </element>
                          </optional>
                        </interleave>
                      </element>
                    </oneOrMore>
                  </element>
                </optional>
              </interleave>
            </element>
          </optional>
        </interleave>
      </element>
    </oneOrMore>
  </define>
  <define name="dicEl">
    <interleave>
      <optional>
        <attribute name="dic"/>
      </optional>
      <attribute name="id"/>
      <text/>
    </interleave>
  </define>
  <define name="rangeEl">
    <interleave>
      <optional>
        <attribute name="max"/>
      </optional>
      <text/>
    </interleave>
  </define>
  <define name="integerEl">
    <interleave>
      <optional>
        <attribute name="max"/>
      </optional>
      <text/>
    </interleave>
  </define>
  <define name="floatEl">
    <interleave>
      <optional>
        <attribute name="max"/>
      </optional>
      <text/>
    </interleave>
  </define>
  <define name="booleanEl">
    <text/>
  </define>
  <define name="stringEl">
    <text/>
  </define>
  <define name="timeEl">
    <text/>
  </define>
  <define name="idEl">
    <text/>
  </define>
  <define name="commentEl">
    <interleave>
      <element name="text">
        <ref name="stringEl"/>
      </element>
      <optional>
        <element name="html">
          <ref name="stringEl"/>
        </element>
      </optional>
      <optional>
        <element name="short">
          <ref name="stringEl"/>
        </element>
      </optional>
    </interleave>
  </define>
</grammar>
