rex-cli/convert/winner/xsd/country_house_spb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="country_houses">
	<xs:complexType>
	<xs:sequence>  

	<xs:element name="country_house" minOccurs="1" maxOccurs="unbounded">	
	<xs:complexType>
	  <xs:sequence>
	  
		<xs:element name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation>Уникальный идентификатор объекта. Для одного и того же объекта значение данного элемента не должно изменяться.</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="date">
			<xs:annotation>
				<xs:documentation>Дата обновления состояния объекта, в формате 'DD.MM.YYYY', например: 12.02.2013</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{2}.[0-9]{2}.[0-9]{4}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="actual">
			<xs:annotation>
				<xs:documentation>Актуальность объявления</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="продается/арендуется"/>
					<xs:enumeration value="аванс/задаток"/>
					<xs:enumeration value="продана/арендована"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="aptp">
  			<xs:annotation>
				<xs:documentation>Тип объекта</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="дом"/>
					<xs:enumeration value="дача"/>
					<xs:enumeration value="коттедж"/>
					<xs:enumeration value="таунхаус"/>
					<xs:enumeration value="коттеджный поселок"/>
					<xs:enumeration value="дуплекс"/>
					<xs:enumeration value="квадрохаус"/>
					<xs:enumeration value="усадьба"/>
					<xs:enumeration value="участок"/>
					<xs:enumeration value="часть дома"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="optp">
  			<xs:annotation>
				<xs:documentation>Тип операции</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="аренда"/>
					<xs:enumeration value="продажа"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element> 

		<xs:element name="rent_term" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Срок аренды. Заполняется для объектов, имеющих тип операции "аренда".</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Любой срок"/>
					<xs:enumeration value="Длительный срок"/>
					<xs:enumeration value="Посуточно"/>
					<xs:enumeration value="От месяца и более"/>
					<xs:enumeration value="Сезонная сдача"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="region_geo">
  			<xs:annotation>
				<xs:documentation>Регион объекта</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Санкт-Петербург"/>
					<xs:enumeration value="Ленинградская область"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="area_geo" type="xs:string">
  			<xs:annotation>
				<xs:documentation>Район Лен.области или район Санкт-Петербурга</xs:documentation>
			</xs:annotation>
		</xs:element> 
             
		<xs:element name="place_geo" type="xs:string">
  			<xs:annotation>
				<xs:documentation>Населенный пункт с указанием типа поселения после названия: г., д., пос. и.т.д.</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="metro" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Название станции метро. Данный элемент обязателен и заполняется только для объектов по региону "Санкт-Петербург".</xs:documentation>
			</xs:annotation>
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="farval">
							<xs:annotation>
								<xs:documentation>Удаленность в минутах</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="240"/> 
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="fartp"> 
							<xs:annotation>
								<xs:documentation>Тип удаленности объекта</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="п">
										<xs:annotation>
											<xs:documentation>Пешком</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="т">
										<xs:annotation>
											<xs:documentation>Транспортом</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:extension>	  
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
    
		<xs:element name="address" type="xs:string" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Улица с указанием ее типа после названия: ул., бул., проезд и т.д. 
				Данный элемент обязателен только для объектов по региону "Санкт-Петербург", 
				для объектов по региону "Ленинградская область" его заполнение желательно, но не обязательно.</xs:documentation>
			</xs:annotation>
		</xs:element>
		
		<xs:element name="dom" type="xs:string" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Номер дома, корпуса.</xs:documentation>
			</xs:annotation>
		</xs:element> 

		<xs:element name="price"> 
			<xs:annotation>
				<xs:documentation>Стоимость объекта</xs:documentation>
			</xs:annotation>
			<xs:complexType>
				<xs:simpleContent> 
					<xs:extension base="xs:integer">
						<xs:attribute name="currency" use="required">
							<xs:annotation>
								<xs:documentation>Тип валюты, в которой указана стоимость объекта</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="RUB"/>
									<xs:enumeration value="USD"/>
									<xs:enumeration value="EUR"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:extension>	
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>

		<xs:element name="prc_type" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Тип цены. Заполняется для объектов, имеющих тип операции "продажа".</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="За всю площадь"/>
					<xs:enumeration value="За сотку"/>
					<xs:enumeration value="За кв.м."/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="sq">
			<xs:annotation>
				<xs:documentation>Площадь объекта</xs:documentation>
			</xs:annotation>
			<xs:complexType>
				<xs:attribute name="pl">
					<xs:annotation>
						<xs:documentation>Площадь дома в м2</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="15"/> 
							<xs:maxInclusive value="20000"/> 
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="pl_s">
					<xs:annotation>
						<xs:documentation>Площадь участка в сотках</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="1670000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:complexType>
		</xs:element>

		<xs:element name="electro" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Электроснабжение</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="нет"/>
					<xs:enumeration value="есть"/>
					<xs:enumeration value="220 В"/>
					<xs:enumeration value="380 В"/>
					<xs:enumeration value="перспектива"/>
					<xs:enumeration value="по границе"/>
					<xs:enumeration value="10 КВт"/>
					<xs:enumeration value="иное"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>		

		<xs:element name="gas" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Газификация</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="нет"/>
					<xs:enumeration value="магистральный"/>
					<xs:enumeration value="по границе"/>
					<xs:enumeration value="перспектива"/>
					<xs:enumeration value="рядом"/>
					<xs:enumeration value="баллоны"/>
					<xs:enumeration value="есть"/>
					<xs:enumeration value="иное"/>
					<xs:enumeration value="центральный"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="water" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Водоснабжение</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="нет"/>
					<xs:enumeration value="центральный"/>
					<xs:enumeration value="скважина"/>
					<xs:enumeration value="колодец"/>
					<xs:enumeration value="магистральный"/>
					<xs:enumeration value="иное"/>
					<xs:enumeration value="есть"/>
					<xs:enumeration value="летний"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="heat" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Отопление</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="нет"/>
					<xs:enumeration value="центральное"/>
					<xs:enumeration value="электрокотел"/>
					<xs:enumeration value="газовый котел"/>
					<xs:enumeration value="жидкотопливный котел"/>
					<xs:enumeration value="АГВ"/>
					<xs:enumeration value="печь"/>
					<xs:enumeration value="есть"/>
					<xs:enumeration value="иное"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="sewer" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Канализация</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="нет"/>
					<xs:enumeration value="есть"/>
					<xs:enumeration value="вне дома"/>
					<xs:enumeration value="септик"/>
					<xs:enumeration value="центральная"/>
					<xs:enumeration value="иное"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="pmg" minOccurs="0">
			<xs:annotation>
				<xs:documentation>ПМЖ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="+">
						<xs:annotation>
							<xs:documentation>Да</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="-">
						<xs:annotation>
							<xs:documentation>Нет</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="ohrana" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Охрана</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="+">
						<xs:annotation>
							<xs:documentation>Есть охрана</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="-">
						<xs:annotation>
							<xs:documentation>Нет охраны</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>      

		<xs:element name="telefon">
			<xs:annotation>
				<xs:documentation>Номера телефонов для контактов в формате "8xxxxxxxxxx" или "7xxxxxxxxxx". В списке значения разделяются символом ";"</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\d{11}(;\d{11})*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="email" type="xs:string" minOccurs="0">
			<xs:annotation>
				<xs:documentation>E-mail для контактов. В списке значения разделяются символом ";"</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="company_url" type="xs:anyURI" minOccurs="0">
			<xs:annotation>
				<xs:documentation>URL сайта агентства</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="object_url" type="xs:anyURI" minOccurs="0">
			<xs:annotation>
				<xs:documentation>URL карточки объекта на сайте агентства.</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="photos" type="xs:anyURI" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Список URL фотографий объекта. В списке значения разделяются символом ";"</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="remark" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Дополнительная информация об объекте. Значение данного элемента необходимо указывать в секции <![CDATA[...]]></xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="10000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element> 

	  </xs:sequence>
	</xs:complexType>
	</xs:element>
	</xs:sequence>
	</xs:complexType>

		<xs:key name="uniqueID">
			<xs:selector xpath="country_house"/>
			<xs:field    xpath="id"/>
		</xs:key>

</xs:element>
</xs:schema>