rex-cli/convert/winner/xsd/foreign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="foreign">

	<xs:complexType>
		<xs:sequence> 
		
		<xs:element name="obj" minOccurs="1" maxOccurs="unbounded">
		
		<xs:complexType>
		<xs:sequence>
		
		<xs:element name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation>Уникальный идентификатор объекта. Для одного и того же объекта значение данного элемента не должно изменяться.</xs:documentation>
			</xs:annotation>
		</xs:element>
		
		<xs:element name="date">
			<xs:annotation>
				<xs:documentation>Дата обновления состояния объекта, в формате 'DD.MM.YYYY', например: 12.02.2013</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{2}.[0-9]{2}.[0-9]{4}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="actual">
			<xs:annotation>
				<xs:documentation>Актуальность объявления</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="продается/арендуется"/>
					<xs:enumeration value="аванс/задаток"/>
					<xs:enumeration value="продана/арендована"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="obtp">
			<xs:annotation>
				<xs:documentation>Тип объекта.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="квартира"/>
					<xs:enumeration value="комната"/>
					<xs:enumeration value="апартаменты"/>
					<xs:enumeration value="таунхаус"/>
					<xs:enumeration value="пентхаус"/>
					<xs:enumeration value="дом"/>
					<xs:enumeration value="элитная недвижимость(поместье, замок, особняк)"/>
					<xs:enumeration value="коттедж"/>
					<xs:enumeration value="вилла"/>
					<xs:enumeration value="бунгало"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="nova" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Является ли объект новостройкой или нет</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="+">
						<xs:annotation>
							<xs:documentation>Объект является новостройкой</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="-">
						<xs:annotation>
							<xs:documentation>Объект не является новостройкой - вторичная недвижимость</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="optp">
			<xs:annotation>
				<xs:documentation>Тип операции</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="аренда"/>
					<xs:enumeration value="продажа"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="land" type="xs:string">
			<xs:annotation>
				<xs:documentation>Страна.</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="state" type="xs:string">
			<xs:annotation>
				<xs:documentation>Штат, область.</xs:documentation>
			</xs:annotation>
		</xs:element>	

		<xs:element name="field" type="xs:string">
			<xs:annotation>
				<xs:documentation>Район.</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="town" type="xs:string">
			<xs:annotation>
				<xs:documentation>Населенный пункт.</xs:documentation>
			</xs:annotation>
		</xs:element>
		
		<xs:element name="address" type="xs:string" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Улица.</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="dom" type="xs:string" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Номер дома, корпуса.</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="location" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Расположение.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="у моря"/>
					<xs:enumeration value="в лесу"/>
					<xs:enumeration value="в горах"/>
					<xs:enumeration value="в большом городе"/>
					<xs:enumeration value="в пригороде"/>
					<xs:enumeration value="в деревне"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="price" type="xs:integer"> 
			<xs:annotation>
				<xs:documentation>Стоимость объекта. В значении данного элемента указывается числовое значение стоимости объекта.</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="currency"> 
			<xs:annotation>
				<xs:documentation>Тип валюты, в которой указана стоимость объекта</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="RUB"/>
					<xs:enumeration value="USD"/>
					<xs:enumeration value="EUR"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="flats">
			<xs:annotation>
				<xs:documentation>Количество комнат в квартире. Значение элемента flats должно быть больше значения, указанного в элементе rooms.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="rooms" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Количество продаваемых комнат в квартире. Обязательный элемент только если тип объекта "комната".</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:maxInclusive value="49"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="bedroom" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Количество спален. Количество спален не может быть больше количества комнат в квартире</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:maxInclusive value="49"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="pl_ob">
			<xs:annotation>
				<xs:documentation>Площадь строения в кв.м. Данный элемент обязателен для всех типов объектов, кроме "Земельный участок"</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:minInclusive value="5"/> 
					<xs:maxInclusive value="214000000"/> 
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="pl_s" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Площадь участка. Данный элемент обязателен только если тип объекта "Земельный участок"</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:minInclusive value="1"/> 
					<xs:maxInclusive value="16700000"/> 
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="floor" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Этаж, на котором расположен объект.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="127"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="fl_ob" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Этажность строения, в котором расположен объект.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="127"/> 
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="balkon" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Наличие балконов, лоджий</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="-">
						<xs:annotation>
							<xs:documentation>Балкон/лоджия отсутствует</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="+">
						<xs:annotation>
							<xs:documentation>Балкон/лоджия есть</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="san" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Наличие санузла</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="-">
						<xs:annotation>
							<xs:documentation>Нет санузла</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="+">
						<xs:annotation>
							<xs:documentation>Есть санузел</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2">
						<xs:annotation>
							<xs:documentation>Два санузла</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3">
						<xs:annotation>
							<xs:documentation>Три санузла</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4">
						<xs:annotation>
							<xs:documentation>Четыре санузла</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="С">
						<xs:annotation>
							<xs:documentation>Совмещенный санузел</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Р">
						<xs:annotation>
							<xs:documentation>Раздельный санузел</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2С">
						<xs:annotation>
							<xs:documentation>Два совмещенных санузла</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2Р">
						<xs:annotation>
							<xs:documentation>Два раздельных санузла</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3С">
						<xs:annotation>
							<xs:documentation>Три совмещенных санузла</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3Р">
						<xs:annotation>
							<xs:documentation>Три раздельных санузла</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4С">
						<xs:annotation>
							<xs:documentation>Четыре совмещенных санузла</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4Р">
						<xs:annotation>
							<xs:documentation>Четыре раздельных санузла</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="fltin" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Тип состояния (ремонта) объекта.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="неизвестно"/>
					<xs:enumeration value="плохое состояние"/>
					<xs:enumeration value="без отделки"/>
					<xs:enumeration value="требуется ремонт"/>
					<xs:enumeration value="среднее состояние"/>
					<xs:enumeration value="хорошее состояние"/>
					<xs:enumeration value="сделан ремонт"/>
					<xs:enumeration value="отличное состояние"/>
					<xs:enumeration value="евроремонт"/>
					<xs:enumeration value="эксклюзивный евроремонт"/>
					<xs:enumeration value="первичная отделка"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="tel" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Наличие телефонной линии</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="-">
						<xs:annotation>
							<xs:documentation>Нет телефонной линии</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Т">
						<xs:annotation>
							<xs:documentation>Есть телефонная линия</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2Т">
						<xs:annotation>
							<xs:documentation>Две и более телефонные линии</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="jacuzzi" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Джакузи.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="-">
						<xs:annotation>
							<xs:documentation>Нет</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="+">
						<xs:annotation>
							<xs:documentation>Да</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="pool" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Бассейн.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="-">
						<xs:annotation>
							<xs:documentation>Нет</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="+">
						<xs:annotation>
							<xs:documentation>Да</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="garage" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Парковка.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="-">
						<xs:annotation>
							<xs:documentation>Нет</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="+">
						<xs:annotation>
							<xs:documentation>Да</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="ipoteka" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Возможность покупки по ипотеке</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="-">
						<xs:annotation>
							<xs:documentation>Нет возможности покупки по ипотеке</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="+">
						<xs:annotation>
							<xs:documentation>Ипотека возможна</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>

		<xs:element name="telefon">
			<xs:annotation>
				<xs:documentation>Контактный номер телефона в международном формате:  +[код страны][код города/оператора][номер абонента].
				В списке значения разделяются символом ";".</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\+\d{11,18}(;\+\d{11,18})*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		
		<xs:element name="email" type="xs:string" minOccurs="0">
			<xs:annotation>
				<xs:documentation>E-mail для контактов. В списке значения разделяются символом ";"</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="company_url" type="xs:anyURI" minOccurs="0">
			<xs:annotation>
				<xs:documentation>URL сайта агентства</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="object_url" type="xs:anyURI" minOccurs="0">
			<xs:annotation>
				<xs:documentation>URL карточки объекта на сайте агентства.</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="photos" type="xs:anyURI" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Список URL фотографий объекта. В списке значения разделяются символом ";"</xs:documentation>
			</xs:annotation>
		</xs:element>

		<xs:element name="remark" minOccurs="0">
			<xs:annotation>
				<xs:documentation>Дополнительная информация об объекте. Значение данного элемента необходимо указывать в секции <![CDATA[...]]></xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="10000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element> 

	  </xs:sequence>
	</xs:complexType>
	</xs:element>
	</xs:sequence>
	</xs:complexType>

		<xs:key name="uniqueID">
			<xs:selector xpath="obj"/>
			<xs:field    xpath="id"/>
		</xs:key>

</xs:element>
</xs:schema>